.menuViewContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr;
}

.menuSidebar {
  width: 300px;
  border: 1px solid #c9c9c9;
}

.menuItemsView {

  &__categoryHeaders {
    font-size: 2.4rem;
  }
}